[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
